###########
# Vagrant #
###########

.vagrant/

##########
# Python #
##########

venv/

###########
# Ansible #
###########

roles/*
!roles/mirror_registry/
!roles/openshift_config/

ansible_collections/

#############
# OpenShift #
#############

openshift/pull-secret.json
openshift/mirror/rootCA.pem
openshift/mirror/imageContentSourcePolicy.yaml
openshift/tools/*
openshift/install/*
