###########
# Vagrant #
###########

.vagrant/

##########
# Python #
##########

venv/

###########
# Ansible #
###########

roles/*
!roles/mirror_registry/

ansible_collections/

#############
# OpenShift #
#############

pull-secret.json
