kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v1alpha2
storageConfig:
  registry:
    imageURL: mirrorregistry.openshift.vagrant:8443/mirror/oc-mirror-metadata
    skipTLS: true
mirror:
  platform:
    channels:
{% for channel in mirror_imageset_channels %}
      - name: {{ channel.name }}
        type: {{ channel.type }}
{% endfor %}
{% if not mirror_imageset_catalogs %}
  operators: []
{% else %}
  operators:
{%   for catalog in mirror_imageset_catalogs %}
    - catalog: {{ catalog.name }}
{%     if catalog.operators %}
      packages:
{%       for operator in catalog.operators %}
        - name: {{ operator.name }}
          channels:
{%         for channel in operator.channels %}
            - name: {{ channel }}
{%         endfor %}
{%       endfor %}
{%     else %}
      full: true
{%     endif %}
{%   endfor %}
{% endif %}
{% if not mirror_imageset_images %}
  additionalImages: []
{% else %}
  additionalImages:
{%   for image in mirror_imageset_images %}
    - name: {{ image }}
{%   endfor %}
{% endif %}
  helm: {}
