---
apiVersion: v1
baseDomain: vagrant
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 3
metadata:
  name: lab
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
fips: false
pullSecret: '{{ lookup('ansible.builtin.file', '../openshift/pull-secret.json') }}'
sshKey: "{{ install_ssh_key }}"
